@model List<ResultGuestDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td>
            <td><a href="/Guests/DeleteGuest/@item.GuestID" class="btn mb-1 btn-flat btn-outline-danger">Sil</a></td>
            <td><a href="/Guests/UpdateGuest/@item.GuestID" class="btn mb-1 btn-flat btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Guests/AddGuest/" class="btn btn-primary">Yeni Müşteri Girişi</a>
