<div class="list-group mail-list">
    <a href="#" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>0-18</a>

    <a href="#" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>19-35</a>

    <a href="#" class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>36-55</a>

    <a href="#" class="list-group-item border-0"><span class="fa fa-tags f-s-14 mr-2"></span>56+</a>
</div>